body {
    background-color: #808080;
}

#subtitle {
    color: #ffffff;
}

#subsubtitle {
    color: #ffffff;
}

#day-rating {
    color: #ffffff;
}

#description {
    color: #ffffff;
}

#time-selector {
    color: #ffffff;
    max-height: 10vh;
    overflow-y: scroll;
}

