--- Linux ---


export FN_AUTH_REDIRECT_URI=http://localhost:8000/google/auth
export FN_BASE_URI=http://localhost:8000
export FN_CLIENT_ID=<oauth client id>
export FN_CLIENT_SECRET=<oauth client secure>

export FLASK_APP=betteryear.py
export FLASK_DEBUG=1
export FN_FLASK_SECRET_KEY=<random string of chars and nums>

flask run -p 8000


--- Windows ---

$env:FN_AUTH_REDIRECT_URI = "http://127.0.0.1:8000/google/auth"
$env:FN_BASE_URI = "http://127.0.0.1:8000"
$env:FN_CLIENT_ID = ""
$env:FN_CLIENT_SECRET = ""

$env:FLASK_APP = "betteryear.py"
$env:FLASK_DEBUG = 1
$env:FN_FLASK_SECRET_KEY = "develdev"

flask run -p 8000
