body {
    background-color: #222222;
    color: #F5F5F5;
}

#title {
    text-align: center;
}

#logo {
    display: block;
    margin: 0 auto;
}

#lists {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
}

#list1, #list2 {
    width: 45%;
    margin: 10px;
}

.listtext {
    text-align: left;
}

#subtitle {
  text-align: center;
}