#everything {
    background-color: black;
    color: white;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

#title {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

#subtitle {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.options {
    /* Display the options in a row */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* center the options */
    align-items: center;
    justify-content: center;
    width: 100%;

}

.options>* {
    /* Make the options take up the same amount of space */
    flex: 1 1 0;
}

#description {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10%;
}

.tz-form-div {
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    padding: 10px;
    background-color: black;
    border-radius: 10px;
}

.tz-form-div .tz-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* place items 10px apart*/
    width: 100%;
}

.tz-form-div #tz-form-desc {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10%;
}

.tz-form-div .tz-submit {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-top: 100px;
}