body{
    background-color: #222222;
    color: #f5f5f5;
}

.options-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.options-button{
    background-color: #1DA1F2;
    color: #FFFFFF;
    border-radius: 25px;
    padding: 20px;
    margin: 10px;
    text-decoration: none;
    font-size: 1.2em;
    width: 200px;
    text-align: center;
}
.options-button:hover{
    background-color: #1A91DA;
}
.logout-container{
    text-align: center;
    margin-top: 20px;
}
.logout-button{
    background-color: #1DA1F2;
    color: #FFFFFF;
    border-radius: 25px;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1em;
}
.logout-button:hover{
    background-color: #1A91DA;
}

#logo{
    display: block;
    margin: 0 auto;
}

#title{
    text-align: center;
    font-size: 3em;
    margin-bottom: 0;
    color: #f5f5f5;
}

#subtitle{
    text-align: center;
    font-size: 1.5em;
    margin-top: 10;
    color: #f5f5f5;
}
