body {
    background-color: #222222;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #f5f5f5;
}

#logo{
    display: block;
    margin: 0 auto;
}

#title {
    font-size: 28px;
    font-weight: 600;
    margin: 20px 0;
    text-align: center;
}

.report-form {
    background-color: #444444;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
}

.report-form label {
    display: block;
    font-weight: 600;
    margin-bottom: 10px;
    color: #f7f7f7;
    grid-column: 1 / -1;
}

.report-form textarea,
.report-form input[type="text"],
.report-form input[type="file"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    grid-column: 1 / -1;
}

.report-form input[type="submit"],
.report-form button {
    background-color: #007bff;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 10px 20px;
}

.report-form input[type="submit"]:hover,
.report-form button:hover {
    background-color: #0069d9;
}

#clear-form {
    background-color: #dc3545;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 10px 20px;
}

#clear-form:hover {
    background-color: #c82333;
}


#workout_descriptions h3,
#meal_descriptions h3,
#memory_topics h3,
#memory_descriptions h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}

#day_summary label,
#memory_topics label,
#memory_descriptions label,
#meal_descriptions label,
#workout_descriptions label {
    text-align: center;
}

#day_summary_desc,
#memory_descriptions textarea,
#meal_descriptions textarea,
#workout_descriptions textarea {
    height: 200px;
    width: 75%;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#memory_topics input {
    width: 50%;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#add_memory_topic,
#add_memory_description,
#add_meal_description,
#add_workout_description {
    background-color: #007bff;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: all 0.2s ease-in-out;
}

#add_workout_description:hover,
#add_meal_description:hover,
#add_memory_topic:hover,
#add_memory_description:hover {
    background-color: #0069d9;
}

#submit-btn {
    background-color: #4CAF50;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 10px 20px;
}

#submit-btn:hover {
    background-color: #388E3C;
}