<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Better Year</title>
      <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}"/>
   </head>
   <body id="everything">
      <a href="/"><img id="logo" src="{{url_for('static', filename='imgs/betteryear.webp')}}"/></a>
      <h1 id="title">{{ name }} | {{ dob }}</h1>
      <h2 id="subtitle">Using Timezone: UTC {{ tz }}</h2>
      <div class="options">
         <div class="options-container">
            <a href="/about" class="options-button">About</a>
            <a href="/report" class="options-button">Reporting</a>
            <a href="/goals" class="options-button">Goals</a>
            <a href="/logout" class="options-button">Logout</a>
         </div>
      </div>
   </body>
</html>